/* ImageMarquee.css */
.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .marquee {
    display: inline-block;
    animation: marqueeAnimation 30s ease-in-out infinite;
    }

  .marquee:hover {
    animation-play-state: paused;
  }
  
  .marquee-item {
    margin-right: 1.5rem; /* Adjust as needed to control spacing between images */
    display: inline-block;
    transition: border-color 0.3s ease;
    text-decoration: none; /* Remove underline from anchor tags */
  }
  
  .image-container {
    width: 20rem; /* Adjust as needed */
    height: 10rem; /* Adjust as needed */
    background-size: cover;
    background-position: center;
  }
  
  @keyframes marqueeAnimation {
    0% {
      transform: translateX(8%);
    }
    100% {
      transform: translateX(-88%);
    }
  }
  